<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @lesson.lesson %>
</p>

<p>
  <strong>User:</strong>
  <%= @lesson.user %>
</p>

<p>
  <strong>Language:</strong>
  <%= @lesson.language %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
